.title{
    background-color:#ffffff;
    box-shadow: 0 0 2px;
    padding-right: 0px;
    padding-left: 0px
}

h3 {
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    color: black; 
}

h5 {
    font-family: 'Orbitron', sans-serif;
}

#card {
    margin-bottom: 5%;
    box-shadow: 0 0 20px;
    border-color: #ffffff;
    border-radius: 2px;
    background-color: #F6F6F6;

}

.btnAdd{
    font-family: 'Orbitron', sans-serif;
    background-color: #367e3b;
    border-color: #367e3b;
    color: white
}

/* .muscleGroupImg{
    max-width: 50%;
    height: auto
} */

.btn-muscleBttns{
    font-family: 'Orbitron', sans-serif;
    background-color: #367e3b;
    border-color: #367e3b;
    color: #ffffff
}

.btn-routeToWorkout{
    border-color: black;
    background-color: #F4C430; 
    border-color: #F4C430;
    font-family: 'Orbitron', sans-serif;
    border-radius: 25px;
    box-shadow: 0 0 5px;
}

h5{
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}


@media (max-width: 480px) {
    .muscleGroupImg {
        max-width: 200px;
        height: 200px
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .muscleGroupImg {
        max-width: 50%;
    }
}

@media (min-width: 1025px) {
    .muscleGroupImg {
        max-width: 50%;
        height: auto
    }
}