#customModal{
    background-color: #d9dcd6c6;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.innerContent{
    position: absolute;
    width: 98vw;
    height: 50vh;
    top: 25%;
    left: 1%;
    background-color: black;
    color: #ffffff;
    box-shadow: 0 0 20px; 
    border-radius: 15px;
}