.btn-dashboardBttns{
    background-color: #367e3b;
    border-color: #367e3b;
    color: #ffffff
}

.btn-enterStats{
  background-color: #367e3b;
  border-color: #367e3b;
  color: #ffffff
}

.navbar-light .navbar-text .link{
  color: white
}
 
.navbar.NavbarColor {
   background-color: black;
 }

.Homelogo{
  max-width: 30%;
  height: auto
}

.muscleCircle{
  max-width: 70%;
  height: auto
}

.white{
  color: white;
  font-family: 'Orbitron', sans-serif
}

.hitFloor{
  max-width: 70%;
  height: auto;
}