.navbar {
    
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 15px;
    border-bottom-color: #355e3b;
} 

.logo{
    max-width:35%;    
    height: auto;
}



.navbar-toggler-icon {
    color: black;
}


.navbar-light .navbar-nav .nav-link {
    font-size: large;
    color: black
}