.navbar {
    
    background-color: black;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #17ac21;
    color: white;
} 

.logo{
    max-width: 30%;    
    height: auto;
}

a.nav-link.active{
   color: white 
} 

.navbar-toggler-icon {
    color: black;
}

.nav-item.nav-link{
    color: white
}