.chart {
    font-size: 25px;
    /* text-align: center; */
}

.rv-xy-plot__series--label-text {
    font-size: 15px;
}

.row {
    justify-content: center;
}

.chart {
    text-align: center;
}

.chart-title {
    color: white;
    font-family: "Orbitron";
}

.time-chart, .weight-chart {
    margin-top: 80px;
    margin-bottom: 90px;
}

.rv-discrete-color-legend-item {
    color: white;
}

.rv-radial-chart {
    margin: auto;
}